<h1>We're working on it</h1>
<div id="cookingMasterClass" class="jumbotron">
    <img src="https://i.kym-cdn.com/entries/icons/original/000/041/943/1aa1blank.png">
    <img src="https://64.media.tumblr.com/02f1e684630962dfde601535ca66c7ec/4f559fadb3dc32b2-db/s540x810/bf8f8eaf893c46983127deb450ebe31dd9e46771.gifv"
        alt="hourglass" srcset="">
    <img src="https://64.media.tumblr.com/2637bcabc1a444f691190c3d5da569a6/tumblr_mrorjzQoYl1rjf4f5o2_500.gif"
        alt="le chef">
</div>
<p>if you watch this hourglass long enough, the page should automatically update</p>